.secondContainer{
	height: 250px;
	width: 450px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 991px) {
    .secondContainer {
        height: 200px;
        width: 550px;
    }
}

.profilePictureSimple{
	width:120px;
	height:120px;
	border-radius: 150px;
	margin-left: 20px;
	margin-top: 20px;
  min-height: 120px;
}

@media only screen and (max-width: 991px) {
    .profilePictureSimple {
        width:120px;
        height:100px;
        border-radius: 150px;
        margin-left: 20px;
        margin-top: 50px;
    }
}

.textContainerForSecond{
	color: black;
	margin-left: 199px;
    margin-top: -103px;
    font-size: 18px;
    font-family: 'Alegreya', serif;
    opacity: 0.9;
}

.opacityStyleForName{
	opacity: 0.5; 
	margin-left: 100px;
}

@media only screen and (max-width: 991px) {
    .opacityStyleForName {
        opacity: 0.5; 
        margin-left: 80px;
    }
}

.opacityStyleForEmail{
	opacity: 0.5; 
	margin-left: 45px;
}

@media only screen and (max-width: 991px) {
    .opacityStyleForEmail {
        opacity: 0.5; 
        margin-left: 25px;
    }
}

.opacityStyleForStatus{
  opacity: 0.5; 
  margin-left: 110px;
}

@media only screen and (max-width: 991px) {
    .opacityStyleForStatus {
        opacity: 0.5; 
        margin-left: 88px;
    }
}

.glyphiconName{
	margin-left: 20px;
	opacity: 0.9;
}

.glyphiconEmail{
	margin-left: 164px; 
	margin-top: 20px;
	opacity: 0.9;
}

.glyphiconNameDiv{
	margin-left: 145px;
    margin-bottom: 81px;
    margin-top: -106px;
}

.emailContainerForSecond{
	color: black;
	margin-left: 199px;
	margin-top: -25px;
	font-size: 18px;
	font-family: 'Alegreya', serif;
	opacity: 0.9;
}

.activeStatus{
	margin-top: -23px;
    color: black;
    font-size: 18px;
    font-family: 'Alegreya', serif;
    margin-left: 200px;
}

.glyphiconActive{
	margin-left: 164px; 
	margin-top: 20px;
	opacity: 0.9;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  opacity: 0.9;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.checkBoxHide{
	opacity: 0;
}

.button {
    background-color: #4CAF50; 
    border-radius: 100px;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 30px 30px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonEffect {
    background-color: white; 
    color: black; 
    border: 2px solid #000000;
}

.buttonEffect:hover {
    background-color: #000000;
    color: white;
}

@media only screen and (max-width: 991px) {
    .responsiveButtonReset {
        margin-left: 409px;
    margin-top: -79px;
    }
}

@media only screen and (max-width: 991px) {
    .responsiveButtonName {
        margin-left: 424px;
    margin-top: -210px;
    }
}
